body{
    background-color: #eff3fc;
    font-family: 'Source Sans Pro', sans-serif;
}
.navbar-default{
    min-height: 150px;
    background-image: url('navimage.jpg');
    margin-bottom: 0px;
}

#sidebarbutton{
    width: 100%;
    border: none;
    color: black;
    background-color: #eff3fc;
    margin-bottom: 20px;
    font-size: 16px;
}

#appimage, #ad1, #ad2, #ad3{
    width: 100%;
}
#ad1, #ad2, #ad3{
    padding-top: 10px;
    padding-bottom: 10px;
}
#appimage{
    border: solid 4px #333333;
    border-radius: 4px;
    margin-bottom: 10px;
}
.maincontent{
    text-align: center;
}

#footertable>tbody>tr>td {
    padding: 0px;
    border: none;
}
#footertable>thead>tr>th {
    text-align: left;
    border: none;
}

.main{
    margin-top: 50px;
}

.brand{
    font-family: 'Alegreya', serif;
    font-size: 26px;
}
.navforms{
    margin-top: 50px;
    margin-right: 0px;
}
.navbuttons{
    text-align: right;
    padding-right: 0px;
    padding-left: 0px;
    margin-left: 0px;
    border: none;
}
.ad{
    border: solid 2px darkgray;
    margin: 20px;
    border:solid 4px #333333;
    background-color: #fafafa;
}
.ads{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
footer{
    background-color: #907db4;
    color: #fafafa;
}

.jumbotron{
    background-color: #fafafa;
    margin-bottom: 80px;
    margin-top: 80px;
    border: solid 4px #333333;
    background-image: url('arthill3.jpg');
    color: white;
    text-shadow: 2px 2px 1px #264268;
}
.stl{
    font-family: 'Alegreya', serif;
    background-color: #fafafa; 
    margin-top: 0px;
}
.election{
    margin-top: 80px;
    margin-bottom: 80px;
}
.pollbutton, .headerbutton, .star{
    background-color: #264268;
}
.pollbutton, .createaccountbutton, .appbutton{
    border-radius: 16px;
    background-color: #264268;
}
.appbtns{
    margin-bottom: 130px;
}
.sponsorheading{
    font-size: 24px;
}
.footerrow{
    display: flex;
    justify-content: center;
    align-items: center;
}
.money{
    background-color: #fafafa;
    color: black;
}
.glyphicon-star{
   color: #f6e785; 
}

@media (max-width: 1024px) {
    .sidenav{
        height: auto;
        margin: auto;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
        
    }
    .navbuttons{
        position: absolute;
        top: 0px;
        right: 0px;
    }
    #searchbar, #locationbar{
        width: 100%;
        margin-right: 10px;
        overflow: scroll;
    }
    
    #footertable>tbody>tr>td, #footertable>thead>tr>th{
        padding-left: 10px;
    }
   
    
}

@media (min-width: 1025px){
    .sidenav{
        margin-top: 20px;
        padding-left: 0px;
        margin-left: 0px;
        text-align: center;
    }
}
    
    